%h2
  Metadata
%hr/

.comments
  = form_for([@server, @website]) do |f|
    - if @website.errors.any?
      #error_explanation
        %h2
          = pluralize(@website.errors.count, "error")
          prohibited this website from being saved:

        %ul
        - @website.errors.full_messages.each do |msg|
          %li= msg

    .field
      = f.label :comments
      - placeholder = nil
      - placeholder = "No comments" if @website.comments.blank?
      = f.text_area :comments, cols: 60, rows: 5, placeholder: placeholder
    .field
      = f.label :has_maintenance
      = f.check_box :has_maintenance
    %br/
    .actions
      = f.submit "Submit", data: { disable_with: 'Updated' }