%h2
  Metadata
%hr/

.comments
  = form_for([@server, @website]) do |f|

    .field
      = f.label :comments
      - placeholder = nil
      - placeholder = "No comments" if @website.comments.blank?
      = f.text_area :comments, cols: 60, rows: 5, placeholder: placeholder
    .field
      = f.label :has_maintenance
      = f.check_box :has_maintenance
    %br/
    .actions
      = f.submit "Submit", data: { disable_with: 'Updated' }


    - if @website.has_errors?
      %br/
      %hr/
      #error_explanation
        %h4
          This website contains
          = pluralize(@website.clean_errors.count, "error")

        %ul
        - @website.clean_errors.each do |msg|
          %li= msg
