.field
  %p
    %span.name CMS:
    = @website.cms_type.capitalize
.field
  %p
    %span.name Version:
    = @website.version
.field
  %p
    %span.name Project name:
    = @website.name
.field
  %p
    %span.name Last updated:
    = @website.updated_at
.field
  %p
    %span.name Has update:
    = humanize_boolean(@website.has_update?)

= render "plugins/description_modal"

%h2 Plugins:

- unless @website.plugins.blank? && @website.has_errors?
  %table.table.plugins.datatable
    %thead
      %tr
        %th Name
        %th Version
        %th Has update
        %th Status
        %th
    %tbody
      - @website.plugins.each do |plugin|
        %tr{class: "plugin status-#{plugin.status}"}
          %td= link_to plugin.name, [@website.server, @website, plugin]
          %td= row_class_version(plugin)
          %td= humanize_boolean(plugin.has_update?)
          %td= plugin.status.titleize
          %td= link_to("info",
            [:description, @server, @website, plugin],
            remote: true, data: { toggle: "modal", target: "#plugin-modal" })
    %tfoot
      %tr
        %th
        %th
        %th
        %th
        %th
  = render "plugins/legend"

:javascript
  jQuery(document).ready(function() {
    window.DataTable.Plugin();
  });