<div class="accordion-group website">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-server" href="#accordion-<%= website.id %>">
      <h3><%= website.blog_name %></h3>
    </a>
    <div class="website-info">
      <p class="link"><%= link_to "Go to " + website.blog_name + " page", website_path(website) %></p>
      <p class="version">Core version: <span class="badge badge-info"><%= website.version %></span></p>
      <p class="number-of-plugins">
        Number of plugins: <strong><%= website.plugins.count %></strong>
        <% if has_update(website) %>
          <span class="label label-important">Has plugin updates</span>
        <% else %>
          <span class="label label-success">Plugins up-to-date</span>
        <% end %>
      </p>
      <p class="updated">Last updated <strong><%= time_ago_in_words(website.updated_at) %></strong> ago</p>
    </div>
  </div>
  <div id="accordion-<%= website.id %>" class="accordion-body collapse <%= "in" if website.id === @server.websites.first.id %>">
    <div class="accordion-inner">
      <h4>Plugins</h4>
      <ul class="plugins-list unstyled">
        <% website.plugins.each do |plugin| %>
          <%= create_list_item(plugin).html_safe %>
        <% end %>
      </ul>
    </div>
  </div>
</div>