- unless @results.blank?
  %table.table.table-striped.search.datatable
    %thead
      %tr
        %th Name
        %th Version
        %th Has update
    %tbody
      - @results.each do |result|
        %tr
          %td= link_to result.name
          %td= result.version
          %td= result.has_update?
    %tfoot
      %tr
        %th
        %th
        %th

  .kaminari.pull-right
    = paginate @results, :params => {:controller => 'search', :action => 'search'}, remote: true,
      theme: 'twitter-bootstrap'
- else
  = "No results found"