<h1>Listing plugins</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Update</th>
    <th>Version</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @plugins.each do |plugin| %>
  <tr>
    <td><%= plugin.name %></td>
    <td><%= plugin.status %></td>
    <td><%= plugin.update %></td>
    <td><%= plugin.version %></td>
    <td><%= link_to 'Show', plugin %></td>
    <td><%= link_to 'Edit', [:edit, @server, @website, plugin) %></td>
    <td><%= link_to 'Destroy', plugin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Plugin', new_server_website_plugin_path(@server, @website) %>
