<p id="notice"><%= notice %></p>

<div class="intro page-header">
  <h1><%= @server.name %><small> server's information</small></h1>
  <p>Here are all Wordpress installations on the <em><%= @server.name %></em> server with all their core and plugin information.</p>
  <p>Click on the website name to expand it's plugin information</p>
</div>

<div class="websites-list accordion" id="accordion-server">
  <% if (@server.websites.count > 1) %>
    <% len = @server.websites.length / 2 %>
    <% firsthalf = @server.websites[0..len-1] %>
    <% secondhalf = @server.websites[len..-1] %>
    <div class="col">
      <% firsthalf.each do |website| %>
        <%= render :partial => "websites/single", :locals => { :website => website } %>
      <% end %>
    </div>
    <div class="col">
      <% secondhalf.each do |website| %>
        <%= render :partial => "websites/single", :locals => { :website => website } %>
      <% end %>
    </div>
  <% else %>
    <%= render :partial => "websites/single", :locals => { :website => @server.websites.first } %>
  <% end %>
</div>