.intro.page-header
  %h1
    = @server.name
    %small server's information
  %p
    Here are all Wordpress installations on the
    %em= @server.name
    server with all their core and plugin information.
  %p Click on the website name to expand it's plugin information

.visualize
  %p
    To visualize the server data,
    = link_to "click here", [:visualize, @server]
    using graphs.

= render 'websites/modal'

- unless @server.websites.blank?
  %table.table.websites.table-striped.datatable
    %thead
      %tr
        %th Name
        %th Version
        %th Num. plugins
        %th Updated
        %th Actions
    %tbody
      - @server.websites.each do |website|
        %tr{:class => "website " + row_classes_for(website)}
          %td= link_to website.name, [@server, website]
          %td= row_class_version(website) unless website.has_errors?
          %td= website.plugins.count
          %td= time_ago_in_words(website.updated_at) + " ago"
          %td= link_to "show", [@server, website], remote: true, data: { toggle: "modal", target: "#website-modal" }
    %tfoot
      %tr
        %th
        %th
        %th
        %th
        %th

:javascript
  jQuery(document).ready(function() {
    window.DataTable.Website();
  });