<%= form_tag({:controller => "search", :action => "search"}, :method => "get", :class => "search-form", :remote => true) do %>
  <div class="search input-append">
    <%= text_field_tag 'query', nil, :placeholder => 'Enter search term...', :class => "span8", :id => "appendedInput" %>
    <button class="add-on">
      Search
    </button>
  </div>

  <div class="row">
    <section class="results span8 pull-left">
      <p class="number"></p>
      <ul class="unstyled">
      </ul>
    </section>

    <aside class="sidebar span4 pull-right">
      <div class="sorting type">
        <p>Search for</p>
        <div class="sort-field">
          <%= radio_button_tag :type, "all", :checked => 'checked' %>
          <%= label_tag :type_all, "All" %>
        </div>
        <div class="sort-field">
          <%= radio_button_tag :type, "website" %>
          <%= label_tag :type_website, "Websites" %>
        </div>
        <div class="sort-field">
          <%= radio_button_tag :type, "plugin" %>
          <%= label_tag :type_plugin, "Plugins" %>
        </div>
        <div class="sort-field">
          <%= radio_button_tag :type, "core" %>
          <%= label_tag :type_core, "Core" %>
        </div>
      </div>

      <div class="sorting sort">
        <p>Order results by</p>
        <div class="sort-field">
          <%= radio_button_tag :sort, "name", :checked => 'checked' %>
          <%= label_tag :sort_name, "Name" %>
        </div>
        <div class="sort-field">
          <%= radio_button_tag :sort, "version" %>
          <%= label_tag :sort_version, "Version" %>
        </div>
        <div class="sort-field">
          <%= radio_button_tag :sort, "update_available" %>
          <%= label_tag :sort_update_available, "Has update" %>
        </div>
      </div>

    </aside>

  </div>

<% end %>